@media only screen and (max-width: 320px) {
  .ona-image {
    width: 140px;
  }

  .search-form,
  .logo-background {
    padding-left: 0 !important;
  }
}

.info-container {
  display: block;
}

@media only screen and (max-width: 440px) {
  .ona-content {
    display: none;
  }

  .page-name {
    display: none;
  }
}
.info-container {
  display: block;
}

@media only screen and (max-width: 640px) {
  .page-name {
    display: none;
  }

  .info-container {
    display: block;
  }
  .ranking-girl-info {
    width: 100%;

    .ranking-girl-logo {
      margin: 0.5rem 0 0 0;
    }

    .online-inf {
      margin-left: 0;
    }
  }
  .page-content,
  .navbar-container,
  .home-container,
  .chat-lady-rank-container,
  .chat-lady-rank-container {
    width: 100%;
  }

  .campaign-container {
    width: 100% !important;
  }

  .has-search {
    margin: 0 !important;
  }

  .form-control-feedback {
    padding: 6px 8px !important;
  }

  .banner,
  .rank-info,
  .chat-lady-rank-info {
    width: 100%;
  }

  .ona-image {
    width: 150px;
    height: 180px;
  }

  .ona-content {
    margin-left: 8px;
  }

  .rectangle {
    margin-bottom: 20px;
    padding: 0 !important;
  }

  .rank-image {
    margin-left: 5px;
  }

  .rank-number {
    margin-left: 16px;
  }

  .fanza-href {
    font-size: 15px;
  }

  .commuting-status {
    margin-right: 1rem;
  }

  .chat-lady-header {
    margin: 0 1rem
  }

  .nav-ul {
    display: block !important;
    margin-left: 20px;
  }

  .chat-rank-green,
  .member-info {
    margin: 0;
  }

  .banner-item {
    padding: 0 !important;
  }

  .has-border-bottom {
    margin-top: 10px;
  }

  .ranking-content {
    margin: 5px 0 !important;
  }

  .time-info {
    display: none;
  }

  .fanza-info {
    margin-top: .5rem;
  }

  .member-number {
    margin-top: 0;
  }

  .access-green {
    width: 100px;
    margin-bottom: 0;
  }

  .access-orange {
    width: 170px;
  }
  .count-member {
    margin-bottom: 0;
  }

  /*tab ranking responsive*/
  #rank {
    .live-chat-rank,
    .live-chat-info {
      width: 100%;
    }

    .live-chat-ona-detail {
      display: none;
    }

    .detail-img {
      text-align: center;
    }

  }

  .osusume-ona,
  .date {
    display: none !important;
  }

  .campaign-rank {
    margin: 0.5rem !important;
  }

  .campaign-ona-image {
    width: 120px !important;
    height: 120px !important;
  }

  .talk-text {
    font-weight: 400 !important;
    font-size: 16px !important;
  }

  .campaign-ona-link,
  .campaign-ona-detail {
    width: 80px !important;
  }

  .rank-color {
    margin-top: 0.5rem;
  }

  .dxlive,
  .ona-detail,
  .rank-star {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .page-content,
  .navbar-container,
  .home-container,
  .chat-lady-rank-container,
  .chat-lady-rank-container {
    width: 100%;
  }

  .campaign-container {
    width: 100% !important;
  }

  .has-search {
    margin: 0 !important;
  }

  .banner,
  .rank-info,
  .chat-lady-rank-info {
    width: 100%;
  }

  .ona-image {
    width: 150px;
    height: 180px;
  }

  .ona-content {
    margin-left: 8px;
  }

  .rectangle {
    margin-bottom: 20px;
    padding: 0 !important;
  }

  .rank-image {
    margin-left: 5px;
  }

  .rank-number {
    margin-left: 16px;
  }

  .fanza-href {
    font-size: 15px;
  }

  .commuting-status {
    margin-right: 1rem;
  }

  .chat-lady-header {
    margin: 0 1rem
  }

  .nav-ul {
    margin-left: 20px;
  }

  .chat-rank-green,
  .member-info {
    margin: 0;
  }

  .banner-item {
    padding-right: 0 !important;
  }

  .has-border-bottom {
    margin-top: 10px;
  }

  .time-info {
    display: none;
  }

  .access-green {
    width: 100px;
    margin-bottom: 0;
  }

  .access-orange {
    width: 170px;
  }
  .count-member {
    margin-bottom: 0;
  }

  /*tab ranking responsive*/
  #rank {
    .live-chat-rank,
    .live-chat-info {
      width: 100%;
    }

    .detail-img {
      text-align: center;
    }

  }

  .campaign-rank {
    margin: 0.5rem !important;
  }

  .campaign-ona-image {
    width: 150px;
    height: 150px;
  }

  .talk-text {
    font-weight: 400 !important;
    font-size: 16px !important;
  }

  .campaign-ona-link,
  .campaign-ona-detail {
    width: 80px !important;
  }

  .rank-color {
    margin-top: 0.5rem;
  }

  .info-scroll {
    width: 240px;
  }
}
