body {
  font-family: Manrope, serif;
}

html {
  scroll-behavior: smooth;
}

.navbar-container {
  height: 76px;
  margin: auto;
  width: 1160px;
}

.page-content,
.home-container {
  margin: auto;
  top: 104px;
  width: 1112px;
}

.home-item {
  margin: 0.75rem 1rem !important;
}

.commuting-status {
  margin-left: 1rem;
}

.chat-lady-header {
  margin-left: 1rem;
}

.home-logo {
  background: transparent;
  width: 150px;
  display: inline-block;
}

.logo-span {
  align-items: center;
  color: #FFFFFF;
  font-feature-settings: "tnum" on, "lnum" on;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.0075em;
  line-height: 138%;
  padding: 1px 6px;
  text-align: center;
}

.nav-bg {
  background: transparent;
}

.nav-title {
  align-items: center;
  color: #E1125E;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 28px;
  left: 60px;
  line-height: 138%;
  margin: 0 12px;
  order: 1;
  position: static;
  top: 6px;
  width: 110px;
}

.search-input {
  border: none;
  width: 90%;
  margin-left: 5px;
}
.search-input:focus {
  outline: none;
}

.has-search {
  width: 474px;
  height: 41px;
  background: #FFFFFF;
  border: 1px solid rgba(128, 128, 128, 0.192);
  border-radius: 8px;
  bottom: 0;
  box-sizing: border-box;
}
.has-search .form-control-feedback {
  color: black;
  height: 100%;
  padding: 2px 8px;
  text-align: center;
  width: 40px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.icon-bell {
  bottom: 4.17%;
  color: #E1125E;
  margin: 10px 12px;
}

.user-avatar {
  border-radius: 99px;
  height: 40px;
  width: 40px;
}

.online {
  background: #2AB930;
  border: 1.5px solid #FFFFFF;
  border-radius: 99px;
  box-sizing: border-box;
  height: 13.33px;
  left: 28px;
  position: absolute;
  top: 28px;
  width: 13.33px;
}

.home-text.active {
  border: 2px solid #E1125E;
  color: #E1125E;
}

.home-text {
  align-items: center;
  align-self: stretch;
  background: #FFFFFF;
  border: 2px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  color: #828282;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  height: 48px;
  line-height: 20px;
  margin: 0 12px;
  order: 1;
  padding: 0 16px;
  width: 128px;
}

.home-text.active .home-icon {
  color: #E1125E;
}

.home-icon {
  bottom: 3.81%;
  color: #828282;
  margin-right: 0.5rem;
}

.home-text.active:hover,
.ranking-text.active:hover,
.campaign-text.active:hover {
  color: #E1125E;
  text-decoration: none;
}

.home-text:hover,
.ranking-text:hover,
.campaign-text:hover {
  color: #828282;
  text-decoration: none;
}

.ranking-text.active,
.campaign-text.active {
  border: 2px solid #E1125E;
  color: #E1125E;
}

.ranking-text,
.campaign-text {
  align-items: center;
  align-self: stretch;
  background: #FFFFFF;
  border: 2px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  color: #828282;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  height: 48px;
  line-height: 20px;
  margin: 0 12px;
  order: 1;
  padding: 0 16px;
  width: 220px;
}

.ranking-text.active .nav-ranking-icon,
.ranking-text.active .campaign-icon,
.campaign-text.active .nav-ranking-icon,
.campaign-text.active .campaign-icon {
  color: #E1125E;
}

.nav-ranking-icon,
.campaign-icon {
  color: #828282;
  margin-right: 0.5rem;
}

.ranking-icon {
  color: #414141;
}

.rectangle {
  background: #FFFFFF;
  border: 2px solid #F04684;
  border-radius: 10px;
  box-sizing: border-box;
  height: 300px;
  width: 544px;
  overflow: hidden;
}

.banner {
  border-radius: 10px;
  height: 300px;
  width: 544px;
}

.ona-image {
  border-radius: 20px;
  height: 181.12px;
  padding: 10px;
  width: 181.12px;
}

.ona-logo {
  align-items: center;
  color: #000000;
  display: flex;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.ona-name {
  align-items: center;
  color: #E1125E;
  display: flex;
  font-size: 34px;
  font-weight: 500;
  line-height: 130%;
}

.online-des {
  color: #1F8B24;
}

.life-go {
  align-items: center;
  color: #E1125E;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.0075em;
  line-height: 138%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.belongs {
  align-items: center;
  color: #616161;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.0075em;
  line-height: 138%;
}

.ona-content {
  color: #616161;
  font-size: 14px;
  letter-spacing: 0.0075em;
  line-height: 138%;
  margin-left: 22px;
}

.status-text {
  color: #414141;
  padding-left: 0;
  margin-bottom: 0.5rem;
}

.has-border-bottom {
  border-bottom: 1px solid #616161;
}
.has-border-bottom img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.time-text {
  color: #414141;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
}

.rank-info {
  background: #FFFFFF;
  border: 1px solid #414141;
  border-radius: 10px;
  box-sizing: border-box;
  height: 96px;
  width: 49.5%;
  display: inline-block;
}

.rank-image {
  width: 46px;
  height: 44px;
  margin: 0.75rem 0 0 1.5rem;
}

.rank-number {
  color: #E1125E;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  height: 32px;
  line-height: 132%;
  margin-left: 34px;
  text-align: center;
  width: 28px;
}

.pink-text {
  color: #E1125E;
}

.fanza-href {
  color: #E1125E;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.0075em;
  line-height: 138%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.color-blue {
  background: #1672EC;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  height: 10px;
  width: 210px;
}

.color-green {
  background: #2AB930;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  height: 10px;
  width: 140px;
}

.waiting {
  background: #1672EC;
  height: 20px;
  width: 20px;
}

.chatting {
  background: #2AB930;
  height: 20px;
  width: 20px;
}

.see-more {
  border: 1px solid #E1125E;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.005em;
  line-height: 150%;
  text-align: center;
  width: 90px;
}

.text-base-color {
  color: #616161;
}

.chat-lady-rank-container {
  margin: auto;
  width: 1112px;
}
.chat-lady-rank-container .commute-time-week {
  width: 74%;
  max-width: 300px;
  height: 25px;
  line-height: 26px;
  color: white;
  cursor: pointer;
  text-indent: 3px;
  margin-top: 2px !important;
  border-bottom: 25px solid #cc99ff;
  border-right: 54px solid transparent;
  font-weight: bold;
}
.chat-lady-rank-container .commute-time-day, .chat-lady-rank-container .commute-time-off, .chat-lady-rank-container .commute-time-chat {
  width: 74%;
  max-width: 300px;
  height: 25px;
  line-height: 26px;
  color: white;
  cursor: pointer;
  text-indent: 3px;
  margin-top: 2px !important;
  border-bottom: 25px solid #52D858;
  border-right: 54px solid transparent;
  font-weight: bold;
}
.chat-lady-rank-container .commute-time-chat {
  border-bottom: 25px solid #FCB243;
}
.chat-lady-rank-container .commute-time-off {
  border-bottom: 25px solid #E1125E;
}
.chat-lady-rank-container .commute-time-sale {
  width: 74%;
  max-width: 300px;
  height: 25px;
  line-height: 26px;
  color: white;
  cursor: pointer;
  text-indent: 3px;
  margin-top: 2px !important;
  border-bottom: 25px solid #ffee06;
  border-right: 54px solid transparent;
  font-weight: bold;
}

.chat-lady-rank-info {
  background: #FFFFFF;
  border: 1px solid #616161;
  border-radius: 10px;
  box-sizing: border-box;
  height: 96px;
  width: 1112px;
}

.chat-rank-green {
  background: #2AB930;
  border-radius: 22px;
  height: 10px;
  margin-top: 48px;
  width: 100%;
}

.member-info {
  margin-top: 40px;
}

.access-blue {
  background: #1672EC;
  border-radius: 22px;
  height: 10px;
  margin-top: 10px;
  width: 156px;
}

.access-orange {
  background: #ED9526;
  border-radius: 22px;
  height: 10px;
  margin-top: 10px;
  width: 300px;
}

.fanza-info,
.time-info,
.member-number {
  margin-top: 2rem;
}

/*tab ranking*/
.live-chat-rank {
  margin: auto;
  width: 1112px;
}

.live-chat-title {
  color: #E1125E;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.0075em;
  line-height: 138%;
  margin: 0.75rem 1rem 0 1rem;
}

.live-chat-detail {
  color: #414141;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.005em;
  line-height: 150%;
  margin: 0 0.75rem 0.75rem 1rem;
  order: 0;
}

.live-chat-info {
  background: #FFFFFF;
  border: 2px solid #F04684;
  border-radius: 10px;
  box-sizing: border-box;
  height: 300px;
  width: 1112px;
}

.live-chat-ona-image {
  border-radius: 10px;
  height: 232px;
  margin: 1rem;
  width: 232px;
}

.ona-detail {
  background: #FFFFFF;
  border: 1px solid #1F8B24;
  border-radius: 5px;
  flex: none;
  flex-grow: 1;
  height: 24px;
  margin: 0 1rem;
  text-align: center;
  width: 103px;
  max-width: 103px !important;
}

.see-detail {
  color: #1F8B24;
}

.ona-link {
  background: #F04684;
  border-radius: 5px;
  height: 24px;
  margin: 0 1rem;
  text-align: center;
  width: 103.5px;
}

.see-link {
  color: white;
}

.live-chat-ona-detail {
  color: #616161;
  font-size: 14px;
  margin: 0.5rem;
}

.dxlive {
  color: #F04684;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.005em;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.chat-lady-rank-container-for {
  padding: 0 1rem;
}

/*campaign*/
.campaign-nav {
  margin: 1rem;
}

.campaign-rank.active {
  border-bottom: 4px solid #F04684;
  color: #F04684;
  font-weight: bold;
  margin: 0.5rem 2rem;
  padding-bottom: 0.5rem;
}

.campaign-rank.active:hover {
  color: #F04684;
  text-decoration: none;
}

.campaign-rank {
  color: #414141;
  margin: 0.5rem 2rem;
  padding-bottom: 0.5rem;
}

.campaign-rank:hover {
  color: #414141;
  text-decoration: none;
}

.campaign-item-border {
  border-bottom: 1px solid #414141;
  padding-bottom: 0.5rem;
}

.campaign-container {
  margin: auto;
  width: 1112px;
}

.campaign-info {
  background: #FFFFFF;
  border: 2px solid #F04684;
  border-radius: 10px;
  box-sizing: border-box;
  height: 188px;
}

.campaign-ona-image {
  height: 160px;
  margin: 0.75rem;
  width: 160px;
}

.campaign-date {
  color: #616161;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}

.talk-text {
  color: #F04684;
  font-size: 34px;
  font-weight: 500;
  line-height: 130%;
}

.campaign-ona-info {
  margin: 0.75rem 0 !important;
}

.campaign-ona-detail {
  background: #FFFFFF;
  border: 1px solid #1F8B24;
  border-radius: 5px;
  height: 24px;
  text-align: center;
  width: 103px;
}

.campaign-ona-link {
  background: #F04684;
  border-radius: 5px;
  height: 24px;
  margin: 0 1rem;
  order: 1;
  text-align: center;
  width: 103px;
}

.osusume-ona {
  margin: 0.75rem 0;
}

.osusume-text {
  color: #616161;
  font-size: 14px;
}

.osusume-title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.osusume-detail {
  color: #616161;
  font-size: 12px;
  font-weight: normal;
}

.info-scroll {
  height: 140px;
  overflow-y: scroll;
  width: 420px;
}

.scroll-item::-webkit-scrollbar {
  background-color: #FAC1D6;
  border-radius: 10px;
  height: 120px;
  width: 6px;
}

.scroll-item::-webkit-scrollbar-thumb {
  background-color: #F04684;
  border-radius: 10px;
}

.fanza-href:hover {
  color: #F04684;
}

.chat-rank-member {
  padding-top: 1.25rem;
  text-align: center;
  background: #B9B9FF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rank-color {
  display: flex;
  margin-top: 1.5rem;
}

.page-name {
  width: 110px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 138%;
  color: #E1125E;
  align-items: center;
  padding-top: 0.3125rem;
}

.content-detail {
  display: flex;
  margin-top: 3rem;
}

.ranking-girl-info {
  margin-left: 0 !important;
  margin-right: 4px !important;
  box-sizing: border-box;
  border-radius: 8px;
}
.ranking-girl-info .ranking-girl-logo {
  width: 108px;
  height: 90px;
  margin: 0.5rem 0.5rem 0 0.5rem;
  position: relative;
}
.ranking-girl-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.ranking-girl-info .online-inf {
  width: 108px;
  height: 18px;
  background: #f7b7b6;
  border-radius: 0 0 10px 10px;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ranking-girl-info .online-inf p {
  margin: 0 !important;
}
.ranking-girl-info .offline-inf {
  width: 130px;
  height: 24px;
  background: #A1A1A1;
  border-radius: 0 0 10px 10px;
  margin-left: 0.5rem;
  text-align: center;
  color: white;
}
.ranking-girl-info .sale-inf {
  width: 130px;
  height: 24px;
  background: #FCB243;
  border-radius: 0 0 10px 10px;
  margin-left: 0.5rem;
  text-align: center;
  color: white;
}
.ranking-girl-info .sub-inf,
.ranking-girl-info .sub-inf-sale {
  width: 108px;
  height: 18px;
  background: #e5e5e5;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: black;
  font-size: 8px;
}
.ranking-girl-info .sub-inf.background_2,
.ranking-girl-info .sub-inf-sale.background_2 {
  background-color: #cc99ff;
}
.ranking-girl-info .sub-inf.background_0,
.ranking-girl-info .sub-inf-sale.background_0 {
  background-color: #C0C0C0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranking-girl-info .sub-inf.background_0 p,
.ranking-girl-info .sub-inf-sale.background_0 p {
  margin: 0 !important;
}
.ranking-girl-info .sub-inf.background_1,
.ranking-girl-info .sub-inf-sale.background_1 {
  background-color: #d2cace8c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranking-girl-info .sub-inf.background_1 p,
.ranking-girl-info .sub-inf-sale.background_1 p {
  margin: 0 !important;
}
.ranking-girl-info .ranking-girl-icon div {
  height: 36px;
}
.ranking-girl-info .ranking-girl-icon img {
  width: 26px;
  height: 18px;
}
.ranking-girl-info .ranking-girl-number {
  color: #E1125E;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.ranking-girl-info .rank-text {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  height: 19px;
}
.ranking-girl-info .rank-girl-name {
  font-weight: bold;
  font-size: 14px;
  color: #E1125E;
  display: block;
  margin-bottom: 0.25rem;
}
.ranking-girl-info .girl-detail {
  border: 1px solid #A1A1A1;
  border-radius: 5px;
  width: 178px;
  height: 29px !important;
  text-align: left;
  border: 1px solid #D3D3D3;
  overflow: hidden;
}
.ranking-girl-info .detail-text-info {
  font-weight: normal;
  font-size: 10px;
  color: #414141;
}
.ranking-girl-info .text-red {
  color: #E1125E;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

img.logo_branch {
  width: 100% !important;
  height: auto !important;
}

.second-text {
  min-width: 329px;
  border: none;
  cursor: pointer;
}

.slide-ranking .background {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  text-align: center;
  position: absolute;
  height: 30px;
  z-index: 1;
  z-index: 1;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-ranking .background p {
  margin: 0 !important;
}
.slide-ranking .online-inf {
  background: #FAC1D6;
  color: #E1125E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.slide-ranking .online-inf p {
  margin: 0 !important;
}
.slide-ranking .info-girl {
  font-size: 18px;
}
.slide-ranking .info-girl a {
  color: #E1125E;
  text-decoration: none;
  display: block;
}
.slide-ranking img {
  width: 20rem;
  height: 15rem;
  max-width: 100% !important;
}

.ranking-title {
  background-color: black;
  border: none !important;
}

.previous-button {
  height: 34px;
  width: 34px !important;
  top: 35% !important;
  background: #ffcccc;
  border-radius: 50%;
  left: 5% !important;
}

.next-button {
  height: 34px;
  width: 34px !important;
  top: 35% !important;
  background: #ffcccc;
  border-radius: 50%;
  right: 5% !important;
}

.percent {
  width: 17px;
}

.rating {
  background: #b9b9ff;
  width: 20px;
  height: 20px;
  text-align: center;
}

.event .head_title {
  color: #E1125E;
  background-color: #FAC1D6;
  height: 36px;
  padding: 0.3rem 0 0.3rem 0;
}
.event .event_item a {
  display: block;
  text-decoration: none;
}
.event .event_item a.description {
  color: black;
  font-weight: bold;
}
.event .expand {
  background: #FF6919;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 0;
  box-shadow: 3px 3px #d3cabf;
}

.recommend .big_item .item_img {
  height: 16.25rem;
  overflow: hidden;
  width: 95%;
  margin: auto;
}
.recommend .big_item .item_img img {
  width: 100%;
}
.recommend .big_item .item {
  border: 1px solid #A1A1A1;
  padding-top: 1rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  background: rgba(252, 208, 207, 0.5);
  width: 360px;
}
.recommend .big_item .item a {
  width: 95%;
  display: block;
  margin: auto;
  text-decoration: underline;
  color: #E1125E;
  font-size: 180x;
  text-align: center;
}
.recommend .small_item .item_img {
  height: 16.25rem;
  overflow: hidden;
  width: 95%;
  margin: auto;
}
.recommend .small_item .item_img img {
  width: 100%;
}
.recommend .small_item .item {
  border: 1px solid #A1A1A1;
  padding-top: 1rem;
  padding-bottom: 3rem;
  border-radius: 10px;
  background: rgba(252, 208, 207, 0.5);
  width: 267px;
}
.recommend .small_item .item a {
  width: 95%;
  display: block;
  margin: auto;
  text-decoration: underline;
  color: #E1125E;
  font-size: 180x;
  text-align: center;
}

.text_red {
  color: #E1125E;
}

.recommend_title {
  font-size: 20px;
  border-bottom: 1px solid grey;
  padding-right: 0 !important;
}

.footer {
  background-color: #E1125E;
  padding-top: 1rem;
}
.footer dt {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 0.25rem 0;
  font-size: 20px;
}
.footer a {
  display: block;
  color: white;
  font-size: 16px;
}
.footer a:hover {
  color: white;
}
.footer .top-scroll a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 5px 20px;
  position: relative;
  z-index: 2;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  height: 36px;
}
.footer .top-scroll a:hover {
  background-color: white;
  color: black;
}
.footer .footer__copyright {
  background-color: #000000;
  padding: 15px 0;
}
.footer .footer__copyright p {
  color: #ffffff;
  margin-bottom: 0 !important;
}
.footer .footer__copyright a {
  display: inline-block;
}

@media only screen and (max-width: 320px) {
  .ona-image {
    width: 140px;
  }

  .search-form,
.logo-background {
    padding-left: 0 !important;
  }
}
.info-container {
  display: block;
}

@media only screen and (max-width: 440px) {
  .ona-content {
    display: none;
  }

  .page-name {
    display: none;
  }
}
.info-container {
  display: block;
}

@media only screen and (max-width: 640px) {
  .page-name {
    display: none;
  }

  .info-container {
    display: block;
  }

  .ranking-girl-info {
    width: 100%;
  }
  .ranking-girl-info .ranking-girl-logo {
    margin: 0.5rem 0 0 0;
  }
  .ranking-girl-info .online-inf {
    margin-left: 0;
  }

  .page-content,
.navbar-container,
.home-container,
.chat-lady-rank-container,
.chat-lady-rank-container {
    width: 100%;
  }

  .campaign-container {
    width: 100% !important;
  }

  .has-search {
    margin: 0 !important;
  }

  .form-control-feedback {
    padding: 6px 8px !important;
  }

  .banner,
.rank-info,
.chat-lady-rank-info {
    width: 100%;
  }

  .ona-image {
    width: 150px;
    height: 180px;
  }

  .ona-content {
    margin-left: 8px;
  }

  .rectangle {
    margin-bottom: 20px;
    padding: 0 !important;
  }

  .rank-image {
    margin-left: 5px;
  }

  .rank-number {
    margin-left: 16px;
  }

  .fanza-href {
    font-size: 15px;
  }

  .commuting-status {
    margin-right: 1rem;
  }

  .chat-lady-header {
    margin: 0 1rem;
  }

  .nav-ul {
    display: block !important;
    margin-left: 20px;
  }

  .chat-rank-green,
.member-info {
    margin: 0;
  }

  .banner-item {
    padding: 0 !important;
  }

  .has-border-bottom {
    margin-top: 10px;
  }

  .ranking-content {
    margin: 5px 0 !important;
  }

  .time-info {
    display: none;
  }

  .fanza-info {
    margin-top: 0.5rem;
  }

  .member-number {
    margin-top: 0;
  }

  .access-green {
    width: 100px;
    margin-bottom: 0;
  }

  .access-orange {
    width: 170px;
  }

  .count-member {
    margin-bottom: 0;
  }

  /*tab ranking responsive*/
  #rank .live-chat-rank,
#rank .live-chat-info {
    width: 100%;
  }
  #rank .live-chat-ona-detail {
    display: none;
  }
  #rank .detail-img {
    text-align: center;
  }

  .osusume-ona,
.date {
    display: none !important;
  }

  .campaign-rank {
    margin: 0.5rem !important;
  }

  .campaign-ona-image {
    width: 120px !important;
    height: 120px !important;
  }

  .talk-text {
    font-weight: 400 !important;
    font-size: 16px !important;
  }

  .campaign-ona-link,
.campaign-ona-detail {
    width: 80px !important;
  }

  .rank-color {
    margin-top: 0.5rem;
  }

  .dxlive,
.ona-detail,
.rank-star {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 1024px) {
  .page-content,
.navbar-container,
.home-container,
.chat-lady-rank-container,
.chat-lady-rank-container {
    width: 100%;
  }

  .campaign-container {
    width: 100% !important;
  }

  .has-search {
    margin: 0 !important;
  }

  .banner,
.rank-info,
.chat-lady-rank-info {
    width: 100%;
  }

  .ona-image {
    width: 150px;
    height: 180px;
  }

  .ona-content {
    margin-left: 8px;
  }

  .rectangle {
    margin-bottom: 20px;
    padding: 0 !important;
  }

  .rank-image {
    margin-left: 5px;
  }

  .rank-number {
    margin-left: 16px;
  }

  .fanza-href {
    font-size: 15px;
  }

  .commuting-status {
    margin-right: 1rem;
  }

  .chat-lady-header {
    margin: 0 1rem;
  }

  .nav-ul {
    margin-left: 20px;
  }

  .chat-rank-green,
.member-info {
    margin: 0;
  }

  .banner-item {
    padding-right: 0 !important;
  }

  .has-border-bottom {
    margin-top: 10px;
  }

  .time-info {
    display: none;
  }

  .access-green {
    width: 100px;
    margin-bottom: 0;
  }

  .access-orange {
    width: 170px;
  }

  .count-member {
    margin-bottom: 0;
  }

  /*tab ranking responsive*/
  #rank .live-chat-rank,
#rank .live-chat-info {
    width: 100%;
  }
  #rank .detail-img {
    text-align: center;
  }

  .campaign-rank {
    margin: 0.5rem !important;
  }

  .campaign-ona-image {
    width: 150px;
    height: 150px;
  }

  .talk-text {
    font-weight: 400 !important;
    font-size: 16px !important;
  }

  .campaign-ona-link,
.campaign-ona-detail {
    width: 80px !important;
  }

  .rank-color {
    margin-top: 0.5rem;
  }

  .info-scroll {
    width: 240px;
  }
}
